
.profile {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }

  .px3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
}

.p1 {
    padding: .5rem;
}

.circle {
    border-radius: 50%;
}

.square-150 {
    width: 150px;
    height: 150px;
}

.center {
    text-align: center;
}
  
.page-title {
    font-size: 3rem;
}

.mb1 {
    margin-bottom: .5rem;
}

.mt0 {
    margin-top: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: open sans,sans-serif;
    color: #3a4145;
}

a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover, .link-hover-color {
    color: #007199;
    text-decoration: none;
}

.regular {
    font-weight: 400;
}

h2, .h2 {
    font-size: 1.75rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.gray, .mid-gray {
    color: #aaa;
}

a {
    color: #0096cc;
    text-decoration: none;
}

.container {
	max-width: 38em;
	margin-left: auto;
    margin-right: auto;
}

.p3 {
    padding: 2rem;
}

.block {
    display: block;
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.col {
    float: left;
    box-sizing: border-box;
}

@media (min-width: 40em){
	.sm-col-9 {
		width: 75%;
	}
}

.mb2 {
    margin-bottom: 1rem;
}

.width-120 {
    width: 120px;
}

.black, .dark-gray {
    color: #111;
}

.valign-middle {
    vertical-align: middle;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 4em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.fa-github-square:before {
    content: "\f092";
}

.header-font {
    font-family: open sans,sans-serif;
    -webkit-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    -moz-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    -o-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
}

h5, .h5 {
    font-size: .875rem;
}

body {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    color: #2e2e2e;
    letter-spacing: .01rem;
	line-height: 1.75rem;  
}

.background-image{
	background: url('file:///Users/John/Documents/projects/personal-website/images/rsz_denali.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

@media (min-width: 40em){
	.sm-col {
		float: left;
		box-sizing: border-box;
	}
}

@media (min-width: 40em){
	.sm-col-right {
		float: right;
		box-sizing: border-box;
	}
}


.sticky-footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
}

h6, .h6 {
    font-size: .75rem;
}

.gray, .mid-gray {
    color: #aaa;
}

.hint, [data-hint] {
    position: relative;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.circle-line:after {
    display: block;
    content: "";
    width: .5rem;
    height: .5rem;
    border: #e7eef2 .1rem solid;
    position: relative;
    top: 2.3rem;
    left: 50%;
    margin-left: -.25rem;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.left-align {
    text-align: left;
}

.home-page{
	color: white;
}